body{
  font-family: Arial;
  background:#f4f7ff;
  margin:0;
}

header{
  background:#0b3d91;
  color:white;
  padding:15px;
  text-align:center;
}

.hero{
  text-align:center;
  padding:80px;
  background:#0b3d91;
  color:white;
}

button{
  padding:10px;
  background:#00c2ff;
  border:none;
  color:white;
  cursor:pointer;
}

.card{
  background:white;
  padding:15px;
  margin:10px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.center{
  width:300px;
  margin:100px auto;
}
